In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
file_path = '../bar_movement/data/'

In [3]:
currency_pair = 'Eur_Usd'

In [4]:
df = pd.read_csv(file_path + f'Oanda_{currency_pair}_M5_2021-2022.csv')
df.Date = pd.to_datetime(df.Date)
df.reset_index(drop=True, inplace=True)

df2 = pd.read_csv(file_path + f'Oanda_Usd_Jpy_M5_2021-2022.csv')
df2.Date = pd.to_datetime(df2.Date)
df2.reset_index(drop=True, inplace=True)

df3 = pd.read_csv(file_path + f'Oanda_Eur_Jpy_M5_2021-2022.csv')
df3.Date = pd.to_datetime(df3.Date)
df3.reset_index(drop=True, inplace=True)

In [5]:
def rsi(barsdata, periods=14):
    close_delta = barsdata['Mid_Close'].diff()

    up = close_delta.clip(lower=0)
    down = -1 * close_delta.clip(upper=0)
    ma_up = up.ewm(com = periods - 1, adjust=True, min_periods = periods).mean()
    ma_down = down.ewm(com = periods - 1, adjust=True, min_periods = periods).mean()
        
    rsi = ma_up / ma_down
    rsi = 100 - (100/(1 + rsi))

    return rsi

df['rsi'] = rsi(df)
df2['rsi2'] = rsi(df2)
df3['rsi3'] = rsi(df3)

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

df2.dropna(inplace=True)
df2.reset_index(drop=True, inplace=True)

df3.dropna(inplace=True)
df3.reset_index(drop=True, inplace=True)

In [6]:
df.head()

,Date,Bid_Open,Bid_High,Bid_Low,Bid_Close,Ask_Open,Ask_High,Ask_Low,Ask_Close,Mid_Open,Mid_High,Mid_Low,Mid_Close,Volume,rsi
0,2021-04-01 07:10:00,1.17239,1.17334,1.17239,1.17316,1.17252,1.17348,1.17252,1.17330,1.17246,1.17341,1.17246,1.17323,662,69.771597
1,2021-04-01 07:15:00,1.17315,1.17321,1.17274,1.17297,1.17329,1.17334,1.17287,1.17310,1.17322,1.17328,1.17281,1.17304,490,65.433667
2,2021-04-01 07:20:00,1.17298,1.17362,1.17263,1.17362,1.17311,1.17375,1.17276,1.17375,1.17304,1.17368,1.17270,1.17368,548,71.794915
3,2021-04-01 07:25:00,1.17364,1.17420,1.17352,1.17414,1.17377,1.17433,1.17366,1.17427,1.17370,1.17426,1.17359,1.17420,698,75.706766
4,2021-04-01 07:30:00,1.17412,1.17425,1.17381,1.17394,1.17425,1.17438,1.17391,1.17405,1.17418,1.17432,1.17386,1.17400,398,71.593920

In [7]:
df2 = df2[['Date', 'rsi2']]
df2.head()

                 Date       rsi2
0 2021-04-01 07:10:00  28.882191
1 2021-04-01 07:15:00  32.982014
2 2021-04-01 07:20:00  28.029311
3 2021-04-01 07:25:00  27.666547
4 2021-04-01 07:30:00  27.666547

In [8]:
df3 = df3[['Date', 'rsi3']]
df3.head()

                 Date       rsi3
0 2021-01-03 23:15:00  67.482053
1 2021-01-03 23:20:00  68.975921
2 2021-01-03 23:25:00  75.128371
3 2021-01-03 23:30:00  75.339042
4 2021-01-03 23:35:00  80.066619

In [9]:
df = pd.merge(df, df2, how='left', on='Date')
df = pd.merge(df, df3, how='left', on='Date')

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

df.head()

,Date,Bid_Open,Bid_High,Bid_Low,Bid_Close,Ask_Open,Ask_High,Ask_Low,Ask_Close,Mid_Open,Mid_High,Mid_Low,Mid_Close,Volume,rsi,rsi2,rsi3
0,2021-04-01 07:10:00,1.17239,1.17334,1.17239,1.17316,1.17252,1.17348,1.17252,1.17330,1.17246,1.17341,1.17246,1.17323,662,69.771597,28.882191,53.873574
1,2021-04-01 07:15:00,1.17315,1.17321,1.17274,1.17297,1.17329,1.17334,1.17287,1.17310,1.17322,1.17328,1.17281,1.17304,490,65.433667,32.982014,53.579014
2,2021-04-01 07:20:00,1.17298,1.17362,1.17263,1.17362,1.17311,1.17375,1.17276,1.17375,1.17304,1.17368,1.17270,1.17368,548,71.794915,28.029311,56.997332
3,2021-04-01 07:25:00,1.17364,1.17420,1.17352,1.17414,1.17377,1.17433,1.17366,1.17427,1.17370,1.17426,1.17359,1.17420,698,75.706766,27.666547,62.977903
4,2021-04-01 07:30:00,1.17412,1.17425,1.17381,1.17394,1.17425,1.17438,1.17391,1.17405,1.17418,1.17432,1.17386,1.17400,398,71.593920,27.666547,59.265951

In [10]:
df.tail()

,Date,Bid_Open,Bid_High,Bid_Low,Bid_Close,Ask_Open,Ask_High,Ask_Low,Ask_Close,Mid_Open,Mid_High,Mid_Low,Mid_Close,Volume,rsi,rsi2,rsi3
55917,2021-12-31 21:35:00,1.13776,1.13782,1.13774,1.13781,1.13794,1.13800,1.13792,1.13799,1.13785,1.13791,1.13784,1.13790,14,46.416597,52.778668,46.456423
55918,2021-12-31 21:40:00,1.13783,1.13785,1.13771,1.13774,1.13800,1.13802,1.13787,1.13791,1.13792,1.13794,1.13779,1.13782,17,44.605426,55.018967,47.669321
55919,2021-12-31 21:45:00,1.13771,1.13794,1.13758,1.13789,1.13790,1.13818,1.13779,1.13811,1.13780,1.13806,1.13768,1.13800,62,49.390468,56.855897,55.533792
55920,2021-12-31 21:50:00,1.13791,1.13816,1.13761,1.13761,1.13813,1.13838,1.13800,1.13800,1.13802,1.13827,1.13780,1.13780,87,44.763613,60.020760,53.734489
55921,2021-12-31 21:55:00,1.13768,1.13771,1.13677,1.13680,1.13798,1.13819,1.13745,1.13780,1.13783,1.13784,1.13727,1.13730,264,35.747604,63.246807,38.031506

In [11]:
value_per_pip = 1.0
amounts_per_day = [-0.00008, -0.0001, -0.00012]
rounding = 5 if 'Jpy' not in currency_pair else 3
divider = 10000 if 'Jpy' not in currency_pair else 100

In [14]:
# ----------------------------------------------------------------------------------------------------
# Simulation code
# ----------------------------------------------------------------------------------------------------
def calculate_day_fees(start_date, end_date, n_units):
    curr_fee = np.random.choice(amounts_per_day, p=[0.25, 0.50, 0.25]) * n_units
    num_days = np.busday_count(start_date.date(), end_date.date())

    return num_days * curr_fee

def get_n_units(trade_type, stop_loss, ask_open, bid_open, mid_open, currency_pair):
    _, second = currency_pair.split('_')
  
    pips_to_risk = ask_open - stop_loss if trade_type == 'buy' else stop_loss - bid_open
    pips_to_risk_calc = pips_to_risk * 10000 if second != 'Jpy' else pips_to_risk * 100

    if second == 'Usd':
        per_pip = 0.0001

    else:
        per_pip = 0.0001 / mid_open if second != 'Jpy' else 0.01 / mid_open

    n_units = int(50 / (pips_to_risk_calc * per_pip))

    return n_units

def run_simulation(risk_reward_ratio, spread_cutoff):
    reward = 0
    n_wins = 0
    n_losses = 0
    win_streak = 0
    loss_streak = 0
    curr_win_streak = 0
    curr_loss_streak = 0
    n_buys = 0
    n_sells = 0
    pips_risked = []
    day_fees = 0
    trade = None

    for i in range(12, len(df)):
        curr_bid_open, curr_bid_high, curr_bid_low, curr_ask_open, curr_ask_high, curr_ask_low, curr_mid_open, curr_date = df.loc[df.index[i], ['Bid_Open', 'Bid_High', 'Bid_Low', 'Ask_Open', 'Ask_High', 'Ask_Low', 'Mid_Open', 'Date']]
        rsi2, rsi3 = df.loc[df.index[i - 1], ['rsi2', 'rsi3']]
        spread = abs(curr_ask_open - curr_bid_open)

        # buy_signal = rsi2 > 70.0 and rsi3 > 70.0
        # sell_signal = rsi2 < 30.0 and rsi3 < 30.0

        buy_signal = rsi2 < 30.0 and rsi3 < 30.0
        sell_signal = rsi2 > 70.0 and rsi3 > 70.0

        mid_highs = list(df.loc[df.index[i - 12:i], 'Mid_High'])
        mid_lows = list(df.loc[df.index[i - 12:i], 'Mid_Low'])

        highest_high, lowest_low = max(mid_highs), min(mid_lows)

        if trade is None:
            if buy_signal:
                open_price = float(curr_ask_open)

                stop_loss = lowest_low
                stop_loss = round(stop_loss, rounding)

                if stop_loss < open_price:
                    curr_pips_to_risk = open_price - stop_loss

                    if spread <= curr_pips_to_risk * spread_cutoff:
                        stop_gain = round(open_price + (risk_reward_ratio * curr_pips_to_risk), rounding)
                        n_units = get_n_units('buy', stop_loss, curr_ask_open, curr_bid_open, curr_mid_open, currency_pair)

                        trade = {'open_price': open_price, 'trade_type': 'buy', 'stop_loss': stop_loss,
                                                        'stop_gain': stop_gain, 'pips_risked': round(curr_pips_to_risk, rounding),
                                                        'n_units': n_units, 'original_units': n_units, 'start_date': curr_date, 'end_date': None}

                        n_buys += 1

                        pips_risked.append(curr_pips_to_risk)

            elif sell_signal:
                open_price = float(curr_bid_open)
                
                stop_loss = highest_high
                stop_loss = round(stop_loss, rounding)

                if stop_loss > open_price:
                    curr_pips_to_risk = stop_loss - open_price

                    if spread <= curr_pips_to_risk * spread_cutoff:
                        stop_gain = round(open_price - (risk_reward_ratio * curr_pips_to_risk), rounding)
                        n_units = get_n_units('sell', stop_loss, curr_ask_open, curr_bid_open, curr_mid_open, currency_pair)

                        trade = {'open_price': open_price, 'trade_type': 'sell', 'stop_loss': stop_loss,
                                'stop_gain': stop_gain, 'pips_risked': round(curr_pips_to_risk, rounding),
                                'n_units': n_units, 'original_units': n_units, 'start_date': curr_date, 'end_date': None}

                        n_sells += 1

                        pips_risked.append(curr_pips_to_risk)


        if trade is not None and trade['trade_type'] == 'buy' and curr_bid_low <= trade['stop_loss']:
            trade_amount = (trade['stop_loss'] - trade['open_price']) * trade['n_units'] * value_per_pip
            # trade_amount = -50.0
            reward += trade_amount
            day_fees += calculate_day_fees(trade['start_date'], curr_date, trade['n_units'])

            n_wins += 1 if trade_amount > 0 else 0
            n_losses += 1 if trade_amount < 0 else 0
            curr_win_streak = 0 if trade_amount < 0 else curr_win_streak + 1
            curr_loss_streak = 0 if trade_amount > 0 else curr_loss_streak + 1

            if curr_win_streak > win_streak:
              win_streak = curr_win_streak

            if curr_loss_streak > loss_streak:
              loss_streak = curr_loss_streak

            trade = None    

        if trade is not None and trade['trade_type'] == 'buy' and curr_bid_high >= trade['stop_gain']:
            trade_amount = (trade['stop_gain'] - trade['open_price']) * trade['n_units'] * value_per_pip
            # trade_amount = 50.0 * risk_reward_ratio
            reward += trade_amount
            day_fees += calculate_day_fees(trade['start_date'], curr_date, trade['n_units'])

            n_wins += 1 if trade_amount > 0 else 0
            n_losses += 1 if trade_amount < 0 else 0
            curr_win_streak = 0 if trade_amount < 0 else curr_win_streak + 1
            curr_loss_streak = 0 if trade_amount > 0 else curr_loss_streak + 1

            if curr_win_streak > win_streak:
              win_streak = curr_win_streak

            if curr_loss_streak > loss_streak:
              loss_streak = curr_loss_streak

            trade = None

        if trade is not None and trade['trade_type'] == 'sell' and curr_ask_high >= trade['stop_loss']:
            trade_amount = (trade['open_price'] - trade['stop_loss']) * trade['n_units'] * value_per_pip
            # trade_amount = -50.0
            reward += trade_amount
            day_fees += calculate_day_fees(trade['start_date'], curr_date, trade['n_units'])

            n_wins += 1 if trade_amount > 0 else 0
            n_losses += 1 if trade_amount < 0 else 0
            curr_win_streak = 0 if trade_amount < 0 else curr_win_streak + 1
            curr_loss_streak = 0 if trade_amount > 0 else curr_loss_streak + 1

            if curr_win_streak > win_streak:
              win_streak = curr_win_streak

            if curr_loss_streak > loss_streak:
              loss_streak = curr_loss_streak

            trade = None

        if trade is not None and trade['trade_type'] == 'sell' and curr_ask_low <= trade['stop_gain']:
            trade_amount = (trade['open_price'] - trade['stop_gain']) * trade['n_units'] * value_per_pip
            # trade_amount = 50.0 * risk_reward_ratio
            reward += trade_amount
            day_fees += calculate_day_fees(trade['start_date'], curr_date, trade['n_units'])

            n_wins += 1 if trade_amount > 0 else 0
            n_losses += 1 if trade_amount < 0 else 0
            curr_win_streak = 0 if trade_amount < 0 else curr_win_streak + 1
            curr_loss_streak = 0 if trade_amount > 0 else curr_loss_streak + 1

            if curr_win_streak > win_streak:
              win_streak = curr_win_streak

            if curr_loss_streak > loss_streak:
              loss_streak = curr_loss_streak

            trade = None

    return reward + day_fees, n_buys, n_sells, n_wins, n_losses, win_streak, loss_streak, pips_risked

In [15]:
# ----------------------------------------------------------------------------------------------------
# Run simulation
# ----------------------------------------------------------------------------------------------------
risk_reward_ratio_vals = [1.5, 2.0]
spread_cutoffs = [0.10, 0.20]

all_combos = []

for risk_reward_ratio in risk_reward_ratio_vals:
    for spread_val in spread_cutoffs:
        all_combos.append((risk_reward_ratio, spread_val))

percentage_to_try = 1
n_runs = int(percentage_to_try * len(all_combos))
combos_to_try = random.sample(all_combos, n_runs)
print('Num runs: '+ str(len(combos_to_try)) + '\n')

best_risk_reward = None
best_spread_cutoff = None
top_n_results = 10
best_rewards = []
best_reward = -np.inf
runs_finished = 0

for risk_reward_ratio, spread_val in combos_to_try:
    reward, n_buys, n_sells, n_wins, n_losses, win_streak, loss_streak, pips_risked = run_simulation(risk_reward_ratio, spread_val)
    runs_finished += 1

    print(reward)
    print('Num buys: ' + str(n_sells))
    print('Num sells: ' + str(n_buys))
    print('Num trades: ' + str(n_buys + n_sells))
    print('Num wins: ' + str(n_wins))
    print('Num losses: ' + str(n_losses))
    print('Win streak: ' + str(win_streak))
    print('Loss streak: ' + str(loss_streak))
    if len(pips_risked) > 0:
        print('Avg pips risked: ' + str(np.array(pips_risked).mean()))
    print('Remaining runs: ' + str(n_runs - runs_finished))

    min_item = min(best_rewards, key=lambda entry: entry['reward']) if len(best_rewards) >= top_n_results else None

    if min_item is None or reward > min_item['reward']:
        if min_item is not None:
            best_rewards.remove(min_item)
            
        best_rewards.append({'reward': int(reward), 'ratio': risk_reward_ratio, 'spread': spread_val})


    if reward > best_reward:
        best_reward = reward
        best_risk_reward = risk_reward_ratio
        best_spread_cutoff = spread_val

    print('Best reward so far: ' + str(best_reward))
    print()

Num runs: 4

-696.5414099999492
Num buys: 61
Num sells: 79
Num trades: 140
Num wins: 51
Num losses: 89
Win streak: 5
Loss streak: 7
Avg pips risked: 0.0010989999999999928
Remaining runs: 3
Best reward so far: -696.5414099999492

404.54265000000737
Num buys: 16
Num sells: 26
Num trades: 42
Num wins: 17
Num losses: 25
Win streak: 4
Loss streak: 11
Avg pips risked: 0.001748571428571422
Remaining runs: 2
Best reward so far: 404.54265000000737

183.96188999999967
Num buys: 16
Num sells: 27
Num trades: 43
Num wins: 19
Num losses: 24
Win streak: 4
Loss streak: 11
Avg pips risked: 0.001756744186046505
Remaining runs: 1
Best reward so far: 404.54265000000737

308.5160000000641
Num buys: 57
Num sells: 76
Num trades: 133
Num wins: 47
Num losses: 86
Win streak: 7
Loss streak: 7
Avg pips risked: 0.001092556390977434
Remaining runs: 0
Best reward so far: 404.54265000000737

In [18]:
print('------------ FINAL RESULTS ------------')
print('Best reward: ' + str(best_reward))
print('Best risk/reward ratio: ' + str(best_risk_reward))
print('Best spread: ' + str(best_spread_cutoff))
print('-----------------------')
print('Top results:')

for entry in best_rewards:
    print(entry)

------------ FINAL RESULTS ------------
Best reward: 96201.6232200022
Best risk/reward ratio: 2.0
Best spread: 0.1
-----------------------
Top results:
{'reward': -7334, 'ratio': 1.5, 'spread': 0.2}
{'reward': 96201, 'ratio': 2.0, 'spread': 0.1}
{'reward': 18374, 'ratio': 2.0, 'spread': 0.2}
{'reward': 67819, 'ratio': 1.5, 'spread': 0.1}